.table-card {
  width: 100%;
  margin-bottom: 20px; }
  .table-card .word-edit {
    width: 100%; }

.buttons {
  text-align: center; }
  .buttons button {
    width: 25%;
    margin: 0 10% 0 10%; }

#button_insert_small_r {
  width: 100%; }

.word-status, .word-status-active, .word-status-inactive {
  width: 100%;
  height: 50px; }

.word-status-active {
  background-color: green; }

.word-status-inactive {
  background-color: red; }
